﻿
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>HTTPS Redirection</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- Core Styles -->
    <link href="~/assets/plugins/https/plugins/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/assets/plugins/https/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />

    <!-- Time Circles -->
    <link href="~/assets/plugins/https/plugins/jq-timecircles/TimeCircles.css" rel="stylesheet" />   

    <!-- Animate CSS -->     
    <link href="~/assets/plugins/https/css/animate.css" rel="stylesheet" />

    <!-- Page Styles -->
    <link href="~/assets/plugins/https/css/styles.css" rel="stylesheet" />
     
</head>

<body>
    <div class="redirect-container">
        <img class="content-image" src="~/assets/plugins/https/img/bg.png">
        
        <div class="content-container">
            <div class="col-lg-5 col-md-5 col-sm-5 content">
                <div class="info-msg">
                    <div class="msg-icon jackInTheBox animated"><i class="fa fa-warning"></i></div>
                    <div class="msg-text fadeIn delay-1s animated">&quot;(http://)&quot; link will be deactivated </div>@*by 3<sup>rd</sup> September.*@
                    <div class="msg-caption slideInLeft delay-1s animated">So, Please add secure &quot;(https://)&quot; URL to your Favorite</div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3 content">&nbsp;</div>
            <div class="col-lg-4 col-md-4 col-sm-4 content">
                <div class="welcome-msg">
                    <p><big>Hello <b></b>!</big></p>
                    <p>Please wait, You are now being redirected secure website.</p>
                    <div id="CountDownTimer" data-timer="30" style="width: 150px; height: 150px; margin: auto"></div>
                </div>
                <div class="redirect-text">
                    <p>You are not redirected within 30 seconds, Please <a>Click Here</a></p>
                </div>
            </div>
            <div class="col-lg-12 content-footer">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 link-icons">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-6 stopTimer" data-container="body" data-toggle="modal" data-target="#mdl_HTTPS"><span class="icon"><i class="fa fa-question-circle-o"></i></span><small>What is HTTPS?</small> </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 stopTimer" data-container="body" data-toggle="modal" data-target="#mdl_Bookmark"><span class="icon"><i class="fa fa-bookmark-o"></i></span><small>How to Bookmark?</small> </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 download-shortcut"><span class="icon"><i class="fa fa-cloud-download"></i></span><small>Download IE Shortcut</small> </div>
                            <div class="col-lg-3 col-md-3 col-sm-6 redirect-url"><span class="icon"><i class="fa fa-shield"></i></span><small>Go to Secure Site</small> </div>
                        </div>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 url-area">
                        <h1 class="infinite slower fadeIn animated"></h1>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popover-content" class="hide">
        <h3 class="popover-title">What is HTTPS?</h3>

    </div>

    <!-- What is HTTPS -->
    <div id="mdl_HTTPS" class="modal fade" tabindex="-1" role="mdl_HTTPS" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-question-circle-o"></i><span class="caption-subject font-blue-sharp bold uppercase">&nbsp;What is HTTPS?</span>
                        <button id="" type="button" class="fa fa-times close startTimer" data-dismiss="modal" aria-hidden="true"></button>
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <p style="font-size: 18px"><b style="color: #3fca1f">Secure</b> <b style="color: #a9a9a9">HyperText Transfer Protocol</b> makes it harder for hackers to break the connection and steal the information</p>
                        </div>
                        
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><img src="~/assets/plugins/https/img/What_is_HTTPS.png" class="img-responsive"></div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p style="font-size: 16px">The standard HTTP is changed to HTTPS, automatically telling the browser that the connection between the server and browser must be using SSL.</p>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <p style="font-size: 16px">The padlock is activated, showing you the browser connection to the server is now secure. If there is no padlock or the padlock shows a broken symbol, the page does not use SSL.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- What is HTTPS -->
    <!-- How to Bookmark -->
    <div id="mdl_Bookmark" class="modal fade" tabindex="-1" role="mdl_Bookmark" aria-hidden="false" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <div class="modal-content ">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <i class="fa fa-question-circle-o"></i><span class="caption-subject font-blue-sharp bold uppercase">&nbsp;How to Bookmark?</span>
                        <button id="" type="button" class="fa fa-times close startTimer" data-dismiss="modal" aria-hidden="true"></button>
                    </h4>
                </div>
                <div class="modal-body">
                    <img src="~/assets/plugins/https/img/How_to_Bookmark.png" class=" img-responsive">
                   
                </div>
            </div>
        </div>
    </div>
    <!-- How to Bookmark -->
    <!-- Core Scripts -->
    <script src="~/assets/plugins/https/plugins/jquery/jquery.min.js"></script>
    <script src="~/assets/plugins/https/plugins/bootstrap/js/bootstrap.js"></script>  

    <!-- Time Circles -->
    <script src="~/assets/plugins/https/plugins/jq-timecircles/TimeCircles.js"></script>  

    <!-- Page Scripts -->
    <script src="~/assets/plugins/https/js/scripts.js"></script>
    

</body>

</html>

