﻿@{
    ViewBag.Title = "Truck Monitoring";
}
@section Styles {
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    @Styles.Render("~/plugins/sweetAlertStyles")

    @*<link href="https://cdn.datatables.net/1.10.1/css/jquery.dataTables.css" rel="stylesheet" />*@
    @*<link href="http://cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css" rel="stylesheet" />*@
    @*<link href="https://cdn.datatables.net/colreorder/1.2.0/css/colReorder.dataTables.min.css" rel="stylesheet" />*@
}
<style type="text/css">
    .ibox {
        clear: both;
        margin-bottom: -6px !important;
        margin-top: 0;
        padding: 0;
    }

    .ibox-content {
        padding: 0 !important;
        border-image: none !important;
        border-style: none !important;
    }

    @@-moz-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-webkit-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* IE */
    @@-ms-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* Opera and prob css3 final iteration */
    @@keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .blink-image {
        -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
        -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
        -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
        animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
    }

    .ibox-title {
        min-height: 44px !important;
    }

        .ibox-title h5 {
            font-size: 30px;
        }

        .ibox-title h5 {
            display: block;
            margin: 0 0 0px;
            padding: 0;
            text-overflow: ellipsis;
            float: none;
            text-align: center;
        }

    th {
        background-color: #8EB4E3 !important;
        color: white !important;
    }

    th {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }

        th:first-child {
            border-left: 1px solid #dddddd;
        }

    table.dataTable tbody tr {
        /*background-color: #CACFD2 !important;*/
        background-color: #A6A6A6 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        /*background-color: #B2BABB !important;*/
        background-color: #7F7F7F !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #e7eaec;
        line-height: 1.42857;
        padding: 8px;
        vertical-align: top;
        color: black;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    #tblDriverDetails_paginate {
        display: none !important;
    }

    p {
        margin: -4px -5px 0;
    }
</style>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3">
            <img alt="image" class="image image-responsive" src="~/Images/orion_logo.png">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6">
            <table class="table-responsive" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="color: #1F497D; text-align: left; font-family: Verdana; font-weight: bolder; font-size: 40px;">Truck Monitoring 1<span id="truckmonitor"></span></td>
                    </tr>
                    <tr>
                        <td>
                            @*<table align="left" style="font-family: Verdana; font-weight: bolder; font-size: 22px; vertical-align: bottom; width: 100%;">
                                <tbody>
                                    <tr>
                                        <td>In Plant:<span id="btnPlant" class="badge badge-success" style="font-size:16px;" onmouseover="this.style.background = '#884EA0'; this.style.cursor = 'pointer'" onmouseout="    this.style.background = '#1c84c6'" title="In Plant">-</span></td>
                                        <td>In Transit:<span id="btnTransit" class="badge badge-danger" style="font-size:16px;" onmouseover="this.style.background = '#27AE60'; this.style.cursor = 'pointer'" onmouseout="this.style.background = '#ed5565'" title="In Transit">-</span></td>
                                        <td><span id="btnReport" class="badge badge-danger" style="font-size:16px;" onmouseover="this.style.background = '#27AE60'; this.style.cursor = 'pointer'" onmouseout="this.style.background = '#ed5565'" title="Report">Report</span></td>
                                        @*<td>Total:<span id="btnTotal" class="badge badge-warning" style="font-size:16px;" onmouseover="this.style.background = '#007ACC'; this.style.cursor = 'pointer'" onmouseout="this.style.background ='#f8ac59'" title="Total">-</span></td>*@
                            @*</tr>
                                    </tbody>
                                </table>*@
                            <div class="row" align="left" style="font-family: Verdana; font-weight: bolder; font-size: 22px; vertical-align: bottom; width: 100%;">
                                <div class="col-lg-4 col-md-4">
                                    In Plant:<span id="btnPlant" class="badge badge-success" style="font-size:16px;" onmouseover="this.style.background = '#884EA0'; this.style.cursor = 'pointer'" onmouseout=" this.style.background='#1c84c6' " title="In Plant">-</span>
                                    
                                    
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    In Transit:<span id="btnTransit" class="badge badge-danger" style="font-size:16px;" onmouseover="this.style.background = '#27AE60'; this.style.cursor = 'pointer'" onmouseout="this.style.background = '#ed5565'" title="In Transit">-</span>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <span id="btnReport" class="badge badge-danger" style="font-size:16px;" onmouseover="this.style.background = '#27AE60'; this.style.cursor = 'pointer'" onmouseout="this.style.background = '#ed5565'" title="Report">Report</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <img alt="image" class="image image-responsive" style="float:right;" src="~/Images/glass.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox ">
                <div class="ibox-title" style="background-color: #000066;">
                    <div class="row">
                        <div class="col-lg-1 col-md-1" style="text-align:left;">
                            <h4 style="color: white; font-size: 20px; margin-top: -3px; color: white;text-transform:uppercase;" id="hdrPlant">-</h4>
                        </div>
                        <div class="col-lg-2 col-md-2" style="text-align: right;">
                            <h4 style="color: white; font-size: 20px; margin-top: -3px; color: white;" id="hdrRawSand">Raw Sand:</h4>
                        </div>
                        <div class="col-lg-1 col-md-1" style="margin-left: -20px;">
                            <p><span id="btnRawSand" class="badge badge-info" style="font-size:16px;" onmouseover="this.style.background = '#D35400'; this.style.cursor = 'pointer'" onmouseout=" this.style.background='#23c6c8' " title="Raw Sand"></span></p>
                        </div>
                        <div class="col-lg-2 col-md-2" style="text-align: right;">
                            <h4 style="color: white; font-size: 20px; margin-top: -3px; color: white;" id="hdrTreatedSand">Treated Sand:</h4>
                        </div>
                        <div class="col-lg-1 col-md-1" style="margin-left: -20px;">
                            <p><span id="btnTreatedSand" class="badge badge-primary" style="font-size:16px;" onmouseover="this.style.background = '#7FB3D5'; this.style.cursor = 'pointer'" onmouseout=" this.style.background='#1ab394' " title="Treated Sand"></span></p>
                        </div>
                        <div class="col-lg-2 col-md-2" style="text-align: right;">
                            <h4 style="color: white; font-size: 20px; margin-top: -3px; color: white;" id="hdrTotal">Total:</h4>
                        </div>
                        <div class="col-lg-1 col-md-1" style="margin-left: -20px;">
                            <p><span id="btnTotalSand" class="badge" style="font-size:16px;" onmouseover="this.style.background = '#F1C40F'; this.style.cursor = 'pointer'" onmouseout=" this.style.background='#d1dade' " title="Total"></span></p>
                        </div>
                        <div class="col-lg-2 col-md-2" style="text-align:right;">
                            <h4 style="color: white; font-size: 20px; margin-top: -3px; color: white;" id="hdrDate">-</h4>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <div class="table-responsive" id="div_table">
                </div>
            </div>
        </div>
    </div>
    <div class="modal inmodal" id="PopupEway" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content animated shake">
                <div class="modal-header">
                    <h5 class="modal-title">Link E-Way Bill & Transit No</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group"><label>G-Track No:</label> <input type="text" id="txtGTrackNo" class="form-control" disabled maxlength="20"></div>
                            <div class="form-group"><label>Invoice No:</label> <input type="text" id="txtInvoiceNo" class="form-control" disabled maxlength="20"></div>
                            <div class="form-group"><label>E-Way Bill No:</label> <input type="text" id="txtEWayBillNo" onpaste="return isNumber(event);" onkeypress="return isNumber(event)" class="form-control" maxlength="30"></div>
                            <div class="form-group"><label>Transit No:</label> <input type="text" id="txtTransitNo" class="form-control" maxlength="30"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="btnUpdate">Update</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="~/Content/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/plugins/sweetAlert")

    @*<script src="https://cdn.datatables.net/colreorder/1.2.0/js/dataTables.colReorder.min.js"></script>*@
    @*<script src="http://cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.js"></script>*@


    <script type="text/javascript">
        var curr_status;
        $(window).on('load', function () {
            LoadOtherDetails();
            $("#truckmonitor").text(" - In Plant");
            curr_status = 'INPLANT';
            LoadTruckDetails("INPLANT");
        });

        setInterval(function () {
            LoadOtherDetails();
            $("#truckmonitor").text(" - In Plant");
            curr_status = "INPLANT";
            LoadTruckDetails("INPLANT");
        }, 40000);

        //$('#btnTotal').on("click", function () {
        //    $("#truckmonitor").text(" - Total");
        //    LoadTruckDetails("TOTAL");
        //})

        $('#btnTransit').on("click", function () {
            $("#truckmonitor").text(" - In Transit");
            LoadTruckDetails("INTRANSIT");
        })

        $('#btnPlant').on("click", function () {
            $("#truckmonitor").text(" - In Plant");
            curr_status = 'INPLANT';
            LoadTruckDetails("INPLANT");
        })
        $('#btnReport').on("click", function () {
            window.location.href = '@Url.Action("TruckReport", "TruckReport")';
        })

        $('#btnRawSand').on("click", function () {
            if ($("#truckmonitor").text() == " - In Transit") {
                LoadTruckDetails("INTRASITRAW");
            }
            else {
                curr_status = 'INPLANTRAW';
                LoadTruckDetails("INPLANTRAW");
            }
        })

        $('#btnTreatedSand').on("click", function () {
            if ($("#truckmonitor").text() == " - In Transit") {
                LoadTruckDetails("INTRASITTREATED");
            }
            else {
                curr_status = 'INPLANTTREATED';
                LoadTruckDetails("INPLANTTREATED");
            }
        })

        $('#btnTotalSand').on("click", function () {
            if ($("#truckmonitor").text() == " - In Transit") {
                LoadTruckDetails("INTRASITTOTAL");
            }
            else {
                curr_status = 'INPLANTTOTAL';
                LoadTruckDetails("INPLANTTOTAL");

                $('#hdrRawSand').hide();
                $('#valRawSand').hide();
                $('#hdrTreatedSand').hide();
                $('#valTreatedSand').hide();
                $('#hdrTotal').hide();
                $('#valTotal').hide();

            }
        })

        function LoadTruckDetails(status) {
            jQuery.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("getDriverDetails", "TruckMonitoring")',
                data: { Status: status },
                async: true, cache: false,
                success: function (result) {
                    var items_1 = JSON.parse(result.jsonTBL00);
                    if (items_1.length > 0) {
                        $.each(items_1, function (i, item) {
                            $("#btnTransit").text(item.INTRANSIT);
                            $("#btnPlant").text(item.INPLANT);
                            $("#btnRawSand").text(item.RAWSAND);
                            $("#btnTreatedSand").text(item.TREATEDSAND);
                            $("#btnTotalSand").text(item.TOTALSAND);
                        });
                    }

                    $('#div_table').html('');
                    var html = "";
                    var htmlTable = "";
                    htmlTable += "<table class='table table-responsive table-striped cell-border compact' id='tblDriverDetails' cellspacing='0'>";
                    htmlTable += "<thead>";
                    htmlTable += "<tr>";
                    htmlTable += "<th class='text-nowrap' style='font-size:20px;'>GTRACK</th>";
                    htmlTable += "<th class='text-nowrap' style='font-size:20px;'>TRUCK NO</th>";
                    htmlTable += "<th class='text-nowrap' style='font-size:20px;'>DC NO</th>";
                    htmlTable += "<th class='text-nowrap' style='font-size:20px;'>SUPPLIER</th>";
                    htmlTable += "<th class='text-nowrap' style='font-size:20px;'>TRANSPORTER</th>";
                    if (status == 'INPLANT' || status == 'INPLANTRAW' || status == 'INPLANTTREATED' || status == 'INPLANTTOTAL') {
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'>START DATE</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'>ESTIMATED ARRIVAL</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>1ST WEIGHT</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>2ND WEIGHT</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>WAITING FOR</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>JSON</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>E-WAY</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>INVOICE</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";//EWAY BILL -18
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";//TRANSIT NO
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";//TICK STATUS- color change
                        $('#hdrRawSand').show();
                        $('#btnRawSand').show();
                        $('#hdrTreatedSand').show();
                        $('#btnTreatedSand').show();
                        $('#hdrTotal').show();
                        $('#btnTotalSand').show();
                    }
                    else if (status == 'INTRANSIT' || status == 'INTRASITRAW' || status == 'INTRASITTREATED' || status == 'INTRASITTOTAL') {
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>START DATE</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'>ESTIMATED ARRIVAL</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'>1st WEIGHT</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'>2nd WEIGHT</th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'>WAITING FOR</th>";
                        htmlTable += "<th class='text-nowrap' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        htmlTable += "<th class='text-nowrap hide' style='font-size:20px;'></th>";
                        $('#hdrRawSand').hide();
                        $('#btnRawSand').hide();
                        $('#hdrTreatedSand').hide();
                        $('#btnTreatedSand').hide();
                        $('#hdrTotal').hide();
                        $('#btnTotalSand').hide();
                    }

                    htmlTable += "</tr>";
                    htmlTable += "</thead>";
                    htmlTable += "<tbody></tbody>";
                    htmlTable += "</table>";
                    $('#div_table').html(htmlTable);
                    var items_0 = JSON.parse(result.jsonTBL01);
                    if (items_0.length > 0) {
                        $.each(items_0, function (i, item) {
                            html += "<tr>";
                            html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.REF_NO + "</td>";
                            html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.TRUCKNO + "</td>";
                            html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.DCNO + "</td>";
                            html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.SUPPLIER + "</td>";
                            html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.TRANSPORTERNAME + "</td>";
                            if (status == 'INPLANT' || status == 'INPLANTRAW' || status == 'INPLANTTREATED' || status == 'INPLANTTOTAL') {
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.STARTDATE + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.TIMELAPSED1 + "</td>";

                                html += "<td class='text-nowrap' style='font-size:20px;color: White;text-align:Right;'>" + item.FIRSTWEIGHT + "</td>";
                                html += "<td class='text-nowrap' style='font-size:20px;color: White;text-align:Right;'>" + item.SECONDWEIGHT + "</td>";
                                html += "<td class='text-nowrap' style='font-size:20px;color: White;background-color: green;'>" + item.WAITINGFOR + "</td>";
                                if (item.STATUS == 'N') {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;text-align:center'><img src='../Images/red.png' class='blink-image' style='width: 24px;'/></td>";
                                }
                                else {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;text-align:center'><img src='../Images/green.png' style='width: 24px;' /></td>";
                                }
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.JSON_FILE + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.REF_NO + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.INV_NO + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.PDF_FILE + "</td>";

                                if (item.MAT_STA == 'Y') {
                                    //FOR JSON
                                    if (item.JSONSTA == 'Y') {
                                        if (item.TICKSTATUS != 'N') {
                                            html += "<td class='text-nowrap btnJSON' style='font-size:20px;text-align:center;'><img src='../Images/json_icon.png' style='width: 24px;' title='Json File'/> <i class='fa fa-check' aria-hidden='true' style='color: green;'></i></td>";

                                        }
                                        else {
                                            html += "<td class='text-nowrap btnJSON' style='font-size:20px;text-align:center;'><img src='../Images/json_icon.png' style='width: 24px;' title='Json File'/> <i class='fa fa-check' aria-hidden='true' style='color: orange;'></i></td>";
                                        }
                                        if (item.TICKSTATUS != 'N' && item.TICKSTATUS != 'J') {
                                            html += "<td class='text-nowrap btnEWAY' style='font-size:20px;text-align:center;'><img src='../Images/bill_icon.png' style='width: 24px;' title='Link E-Way Bill' /><i class='fa fa-check' aria-hidden='true' style='color: green;'></i></td>";
                                        }
                                        else {
                                            html += "<td class='text-nowrap btnEWAY' style='font-size:20px;text-align:center;'><img src='../Images/bill_icon.png' style='width: 24px;' title='Link E-Way Bill' /><i class='fa fa-check' aria-hidden='true' style='color: orange;'></i></td>";
                                        }
                                    }
                                    else {
                                        html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/json_icon.png' style='width: 24px;' title='Json File'/> <i class='fa fa-close' aria-hidden='true' style='color: red;'></i></td>";
                                        html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/bill_icon.png' style='width: 24px;' title='Link E-Way Bill'/><i class='fa fa-close' aria-hidden='true' style='color: red;'></i></td>";
                                    }

                                    //FOR PDF INVOICE
                                    if (item.PDF_STA == 'Y') {
                                        if (item.TICKSTATUS != 'E' && item.TICKSTATUS != 'N' && item.TICKSTATUS != 'J') {
                                            html += "<td class='text-nowrap btnPDF' style='font-size:20px;text-align:center;'><img src='../Images/pdf_icon.png' style='width: 24px;'  title='Download Invoice'/><i class='fa fa-check' aria-hidden='true' style='color: green;'></i></td>";
                                        }
                                        else {
                                            html += "<td class='text-nowrap btnPDF' style='font-size:20px;text-align:center;'><img src='../Images/pdf_icon.png' style='width: 24px;'  title='Download Invoice'/><i class='fa fa-check' aria-hidden='true' style='color: orange;'></i></td>";
                                        }
                                    }
                                    else {
                                        html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/pdf_icon.png' style='width: 24px;' title='Download Invoice'/><i class='fa fa-close' aria-hidden='true' style='color: red;'></i></td>";
                                    }
                                }
                                else {
                                    html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/restrict.png' style='width: 22px;' title='No Access'/></td>";
                                    html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/restrict.png' style='width: 22px;' title='No Access'/></td>";
                                    html += "<td class='text-nowrap' style='font-size:20px;text-align:center;cursor: not-allowed;'><img src='../Images/restrict.png' style='width: 22px;' title='No Access'/></td>";
                                }
                                if (item.EWAYBILL_NO != null) {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.EWAYBILL_NO + "</td>"; //EWAY BILL
                                }
                                else {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'></td>"; //EWAY BILL
                                }
                                if (item.EWAYBILL_NO != null) {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.TRANSIT_NO + "</td>";  //TRANSIT NO
                                }
                                else {
                                    html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'></td>";  //TRANSIT NO
                                }
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.TICKSTATUS + "</td>";  //TICK STATUS- color change

                            }
                            else if (status == 'INTRANSIT' || status == 'INTRASITRAW' || status == 'INTRASITTREATED' || status == 'INTRASITTOTAL') {
                                html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.STARTDATE + "</td>";
                                html += "<td class='text-nowrap' style='font-size:20px;color: White;'>" + item.TIMELAPSED1 + "</td>";

                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.FIRSTWEIGHT + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.SECONDWEIGHT + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;background-color: green;'>" + item.WAITINGFOR + "</td>";
                                if (item.STATUS == 'N') {
                                    html += "<td class='text-nowrap' style='font-size:20px;text-align:center'><img src='../Images/red.png' class='blink-image' style='width: 24px;'/></td>";
                                }
                                else {
                                    html += "<td class='text-nowrap' style='font-size:20px;text-align:center'><img src='../Images/green.png' style='width: 24px;' /></td>";
                                }

                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.JSON_FILE + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.REF_NO + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.INV_NO + "</td>";
                                html += "<td class='text-nowrap hide' style='font-size:20px;color: White;'>" + item.PDF_FILE + "</td>";
                            }

                            html += "</tr>";
                        });
                        $('#tblDriverDetails tbody').html(html);
                        var table = $('#tblDriverDetails').DataTable({
                            info: false,
                            paging: false,
                            ordering: false,
                            searching: false,
                            pageLength: 25
                        });
                    } else {
                        $('#div_table').html('');
                        return;
                    }
                }
            });
        }
        function isNumber(evt) {
            evt = (evt) ? evt : window.event;
            var element = document.getElementById("txtEWayBillNo");
            var initialValue = element.value;
            if (evt.type == "paste") {
                setTimeout(function () {
                    var value = element.value;
                    var pastedText = value.replace(initialValue, "");
                    if (!isNaN(pastedText)) {
                        element.value = value;
                    } else {
                        element.value = initialValue;
                    }
                }, 2);
            }
            var charCode = (evt.which) ? evt.which : evt.keyCode;
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        $(document).on('click', '.btnJSON', function () {
            var filepath = $(this).closest('tr').find('td').eq(11).text();
            var gtrack = $(this).closest('tr').find('td').eq(0).text();
            if (filepath != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ExportExcel", "TruckMonitoring")',
                    data: { trpath: filepath, GTrackNo: gtrack },
                }).done(function (data) {
                    if (data.fileName != "") {
                        //window.location.href = "@Url.RouteUrl(new { Controller = "TruckMonitoring", Action = "Download" })/?file=" + data.fileName;
                        window.location.href = "@Url.RouteUrl(new { Controller = "TruckMonitoring", Action = "Download" })/?file=" + data.fileName + "&gtrack=" + data.gtrack;
                    }

                }).fail(function () {
                    alert("Sorry. Server unavailable. ");
                });
                LoadTruckDetails(curr_status);
            }
        })

        $(document).on('click', '.btnPDF', function () {

            var filepath = $(this).closest('tr').find('td').eq(14).text();
            var gtrack = $(this).closest('tr').find('td').eq(0).text();
            if (filepath != '') {
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("ExportPDF", "TruckMonitoring")',
                    data: { pdfpath: filepath, GTrackNo: gtrack },
                }).done(function (data) {
                    if (data.fileName != "") {
                        @*window.location.href = "@Url.RouteUrl(new { Controller = "TruckMonitoring", Action = "DownloadPDF" })/?file=" + data.fileName;*@
                        window.location.href = "@Url.RouteUrl(new { Controller = "TruckMonitoring", Action = "DownloadPDF" })/?file=" + data.fileName + "&gtrack=" + data.gtrack;
                    }
                }).fail(function () {
                    alert("Sorry. Server unavailable. ");
                });
                LoadTruckDetails(curr_status);
            }
        })

        $(document).on('click', '.btnEWAY', function () {
            //debugger;
            ClearAll();
            $('#PopupEway').modal('show');
            var gtrackno = $(this).closest('tr').find('td').eq(12).text();
            var invoiceno = $(this).closest('tr').find('td').eq(13).text();
            var Eway = $(this).closest('tr').find('td').eq(18).text();
            var Transit = $(this).closest('tr').find('td').eq(19).text();
            $('#txtGTrackNo').val(gtrackno);
            $('#txtInvoiceNo').val(invoiceno);
            if (Eway != "" && Transit != "") {
                $('#txtEWayBillNo').val(Eway);
                $('#txtTransitNo').val(Transit);
                $('#txtEWayBillNo').attr("disabled", true);
                $('#txtTransitNo').attr("disabled", true);
                $('#btnUpdate').attr("disabled", true);
            }
        });

        $('#btnUpdate').on("click", function () {
            var GTrackNo = $('#txtGTrackNo').val();
            var InvoiceNo = $('#txtInvoiceNo').val();
            var EWayBillNo = $('#txtEWayBillNo').val();
            var TransitNo = $('#txtTransitNo').val();
            if (GTrackNo != '' && InvoiceNo != '' && EWayBillNo != '' && TransitNo != '') {
                jQuery.ajax({
                    contentType: 'application/json; charset=utf-8', type: 'GET',
                    url: '@Url.Action("updateEwayDetails", "TruckMonitoring")',
                    data: { GTrackNo: GTrackNo, InvoiceNo: InvoiceNo, EWayBillNo: EWayBillNo, TransitNo: TransitNo },
                    async: true, cache: false,
                    success: function (result) {
                        if (result == "success") {
                            ClearAll();
                            $('#PopupEway').modal('hide');
                            success_err_msg('A1094')
                           
                            //swal({
                            //    type: 'success',
                            //    title: 'Eway Details Saved Successfully',
                            //    showConfirmButton: false,
                            //    timer: 2000
                            //})
                            LoadTruckDetails(curr_status);
                            return;
                        }
                        else {
                            err_msg('A1095')
                            //swal({
                            //    type: 'error',
                            //    title: 'Eway Details not yet saved..!',
                            //    confirmButtonColor: "#DD6B55",
                            //    confirmButtonText: "OK"
                            //})
                            return;
                        }
                    }
                });
            }
            else {
                if (GTrackNo == '') {
                    err_msg('A1096');
                    //swal({

                    //    title: 'Gtrack number Empty..!',
                    //    type: "warning",
                    //    showConfirmButton: false,
                    //    timer: 2000
                    //});
                    return;
                }
                else if (InvoiceNo == '') {
                    err_msg('A1097');
                    //swal({

                    //    title: 'Gtrack number should not Empty..!',
                    //    type: "warning",
                    //    confirmButtonColor: "#DD6B55",
                    //    confirmButtonText: "OK"
                    //});
                    return;
                }
                else if (EWayBillNo == '') {
                    err_msg('A1098');
                    //swal({

                    //    title: 'EWay Bill number should not Empty..!',
                    //    type: "warning",
                    //    confirmButtonColor: "#DD6B55",
                    //    confirmButtonText: "OK"
                    //});
                    $('#txtEWayBillNo').focus();
                    return;
                }
                else if (TransitNo == '') {
                    err_msg('A1099');
                    //swal({

                    //    title: 'Transit number should not Empty..!',
                    //    type: "warning",
                    //    confirmButtonColor: "#DD6B55",
                    //    confirmButtonText: "OK"
                    //});
                    $('#txtTransitNo').focus();
                    return;
                }
            }
        })

        function ClearAll() {
            $('#txtGTrackNo').val("");
            $('#txtInvoiceNo').val("");
            $('#txtEWayBillNo').val("");
            $('#txtTransitNo').val("");
            $('#txtEWayBillNo').val("");
            $('#txtTransitNo').val("");
            $('#txtEWayBillNo').attr("disabled", false);
            $('#txtTransitNo').attr("disabled", false);
            $('#btnUpdate').attr("disabled", false);
        }

        function success_err_msg(code_) {
            $.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("Error_Message", "TruckMonitoring")',
                data: { code: code_ },
                success: function (result) {
                    var err_return = result.split('---');
                    swal({
                        text: err_return[0],
                        title: err_return[1],
                        type: "success",
                    });
                }
            });
        }
        //$('#txtEWayBillNo').keypress(function (e) {
        //    var regex = new RegExp("^[0-9-]+$");
        //    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
        //    if (regex.test(str)) {
        //        return true;
        //    }

        //    e.preventDefault();
        //    return false;
        //});


        function err_msg(code_) {
            $.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("Error_Message", "TruckMonitoring")',
                data: { code: code_ },
                success: function (result) {
                    var err_return = result.split('---');
                    swal({
                        text: err_return[0],
                        title: err_return[1],
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK"
                    });
                }
            });
        }

        function LoadOtherDetails() {
            var html = "";
            jQuery.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("getOtherDetails", "TruckMonitoring")',
                data: {},
                async: true, cache: false,
                success: function (result) {
                    var items_0 = JSON.parse(result.jsonTBL00);
                    if (items_0.length > 0) {
                        $.each(items_0, function (i, item) {
                            //$('#hdrPlant').text(item.PLANT);
                            $('#hdrPlant').text("G510:TADA");
                        });
                    }

                    var items_1 = JSON.parse(result.jsonTBL01);
                    if (items_1.length > 0) {
                        $.each(items_1, function (i, item) {
                            $('#hdrDate').text(item.LOCDATE);
                        });
                    }
                }
            });
        }
    </script>
}