﻿@{
    ViewBag.Title = "Truck Report";
}
@section Styles {
    <link href="~/Content/jquery.dataTables.css" rel="stylesheet" />
    <link href="~/Content/plugins/select2/select2.min.css" rel="stylesheet" />
    @Styles.Render("~/plugins/sweetAlertStyles")
    @Styles.Render("~/plugins/dataPickerStyles")
    @Styles.Render("~/plugins/dateRangeStyles")
    @Styles.Render("~/plugins/select2Styles")


    @*<link href="https://cdn.datatables.net/1.10.1/css/jquery.dataTables.css" rel="stylesheet" />*@
    @*<link href="http://cdn.datatables.net/responsive/1.0.0/css/dataTables.responsive.css" rel="stylesheet" />*@
    @*<link href="https://cdn.datatables.net/colreorder/1.2.0/css/colReorder.dataTables.min.css" rel="stylesheet" />*@
}
<style type="text/css">
    .ibox {
        clear: both;
        margin-bottom: -6px !important;
        margin-top: 0;
        padding: 0;
    }

    .ibox-content {
        padding: 0 !important;
        border-image: none !important;
        border-style: none !important;
    }

    @@-moz-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @@-webkit-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* IE */
    @@-ms-keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
    /* Opera and prob css3 final iteration */
    @@keyframes blink {
        0% {
            opacity: 1;
        }

        50% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    .blink-image {
        -moz-animation: blink normal 1s infinite ease-in-out; /* Firefox */
        -webkit-animation: blink normal 1s infinite ease-in-out; /* Webkit */
        -ms-animation: blink normal 1s infinite ease-in-out; /* IE */
        animation: blink normal 1s infinite ease-in-out; /* Opera and prob css3 final iteration */
    }

    .ibox-title {
        min-height: 44px !important;
    }

        .ibox-title h5 {
            font-size: 30px;
        }

        .ibox-title h5 {
            display: block;
            margin: 0 0 0px;
            padding: 0;
            text-overflow: ellipsis;
            float: none;
            text-align: center;
        }

    th {
        background-color: #8EB4E3 !important;
        color: white !important;
    }

    th {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        border-right: 1px solid white;
    }

        th:first-child {
            border-left: 1px solid #dddddd;
        }

    table.dataTable tbody tr {
        /*background-color: #CACFD2 !important;*/
        background-color: #A6A6A6 !important;
    }

    .table-striped > tbody > tr:nth-of-type(odd) {
        /*background-color: #B2BABB !important;*/
        background-color: #7F7F7F !important;
    }

    .table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
        border-top: 1px solid #e7eaec;
        line-height: 1.42857;
        padding: 8px;
        vertical-align: top;
        color: black;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    #tblDriverDetails_paginate {
        display: none !important;
    }

    p {
        margin: -4px -5px 0;
    }
</style>




<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-3">
            <img alt="image" class="image image-responsive" src="~/Images/orion_logo.png">
        </div>
        <div class="col-lg-8 col-md-8 col-sm-6">
            <table class="table-responsive" style="width: 100%;">
                <tbody>
                    <tr>
                        <td style="color: #1F497D; text-align: center; font-family: Verdana; font-weight: bolder; font-size: 37px;">Truck Report<span id="truckmonitor"></span></td>
                    </tr>

                </tbody>
            </table>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-3">
            <img alt="image" class="image image-responsive" style="float:right;" src="~/Images/glass.png">
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="ibox ">
                <div class="ibox-title" style="background-color: #1A48A5;">
                    <div class="row">


                        <div class="col-lg-1 col-md-1" style="text-align:left;">
                            <h4 style="color: white; font-size: 17px; margin-top: 5px; color: white;text-transform:uppercase;" id="hdrPlant">G510:TADA</h4>
                        </div>

                        <div class="col-lg-1 col-md-2" style="text-align: right;">
                            <h4 style="color: white; font-size: 17px; margin-top: 5px; color: white;" id="hdrRawSand">Date :</h4>
                        </div>


                        <div class="col-md-3 col-sm-4">
                            <div class="form-group">

                                <div class="form-group" id="dateRange">
                                    <div class="input-daterange input-group" id="datepicker" style="width:100%">
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="input-sm form-control" id="stdate" name="start" onkeydown="return false" />
                                        <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                        <input type="text" class="input-sm form-control" id="endate" name="end" onkeydown="return false" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-2" style="text-align: right;">
                            <h4 style="color: white; font-size: 17px; margin-top: 5px; color: white;" id="hdrRawSand">Material :</h4>
                        </div>

                        <div class="col-md-2 col-sm-4">

                            <div class="form-group">

                                <select class="form-control" id="ddlMtType">
                                    <option></option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-3 col-sm-4">

                            <button class="hbtn btn-primary pull-right" id="bclear_btn" style="margin-left: 12px;" type="submit">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span><strong>&nbsp;&nbsp;Clear All</strong>
                            </button>
                            <button class="hbtn btn-primary pull-right" id="bexcel_btn" style="margin-left: 12px;" type="submit">
                                <span class="glyphicon glyphicon-export" aria-hidden="true"></span><strong>&nbsp;&nbsp;Excel</strong>
                            </button>
                            <button class="hbtn btn-primary pull-right" id="bsearch_btn" style="margin-left: 12px;" type="submit">
                                <span class="glyphicon glyphicon-search" aria-hidden="true"></span><strong>&nbsp;&nbsp;Search</strong>
                            </button>

                        </div>

                    </div>
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight" style="margin-top: -15px;" id="headerPD">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox ">
                            <div class="ibox-content" ">
                                <div class="table-responsive" id="div_table">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/Content/jquery.dataTables.min.js"></script>
    @Scripts.Render("~/plugins/sweetAlert")
    @Scripts.Render("~/plugins/dataPicker")
    @Scripts.Render("~/plugins/dateRange")
    @Scripts.Render("~/plugins/select2")

    @*<script src="https://cdn.datatables.net/colreorder/1.2.0/js/dataTables.colReorder.min.js"></script>*@
    @*<script src="http://cdn.datatables.net/responsive/1.0.0/js/dataTables.responsive.js"></script>*@

    <script src="~/Scripts/plugins/excel/jquery-table2excel.js"></script>
    <script type="text/javascript">


        //Load Function
        $(document).ready(function () {
            //debugger;
            onload_func();
            loadMattype();


        });


        //Date Range function

        function onload_func() {


            $("#stdate").datepicker({
                dateFormat: 'dd-MM-yyyy',
                autoclose: true,
                beforeShow: function (input) {
                    $(input).css({
                        "position": "relative",
                        "z-index": 999999
                    });
                }
            });

            $("#endate").datepicker({
                dateFormat: 'dd-MM-yyyy',
                autoclose: true,
                beforeShow: function (input) {
                    $(input).css({
                        "position": "relative",
                        "z-index": 999999
                    });
                }
            });




            //
            var tdate = new Date();
            var dd = tdate.getDate(); //yields day
            var MM = tdate.getMonth(); //yields month
            var yyyy = tdate.getFullYear(); //yields year
            var startdt = (MM + 1) + "/" + dd + "/" + yyyy;
            var enddt = (MM + 1) + "/" + dd + "/" + yyyy;

            //var startdt = dd + "/" + (MM + 1) + "/" + yyyy;
            //var enddt = dd + "/" + (MM + 1) + "/" + yyyy;

            $('#stdate').val(startdt);
            $('#endate').val(enddt);
            //
        }


        //Material TYpe function

        function loadMattype() {
            //debugger;
            $.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("getMattype", "TruckReport")',
                data: { code: "" },
                async: true, cache: false,
                success: function (result) {
                    var items_0 = JSON.parse(result.jsonTBL00);
                    if (items_0.length > 0) {
                        console.log(items_0);
                        $('#ddlMtType').empty();
                        $('#ddlMtType').append('<option value="0">--Select Material Type--</option>');
                        $.each(items_0, function (i, item) {
                            $('#ddlMtType').append('<option value="' + item.CODE + '">' + item.MATTYPE + '</option>');
                        });
                        $('#ddlMtType').select2({
                        });

                    }
                },
                failure: function () {
                    alert("Failed!");
                }
            });
        }


        //Clear Button

        $("#bclear_btn").on('click', function (e) {

            $("#bexcel_btn").prop('disabled', true);

            $.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("Error_Message", "TruckReport")',
                data: { code: 'A1093' },
                cache: false,
                success: function (result) {

                    var res = result.split('---')
                    swal({
                        text: res[0],
                        title: res[1],
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "Yes",
                        cancelButtonText: "No",
                        closeOnConfirm: true,
                        closeOnCancel: true
                    },
                    function (isConfirm) {
                        if (isConfirm) {
                            swal.close();
                            $("#stdate").datepicker('setDate', null);
                            $("#endate").datepicker('setDate', null);
                            $('#ddlMtType').val(null).trigger('change');
                            $('#tblBreakTable tbody').html('');
                            $("#headerPD").css("display", "none");

                        }
                    });
                }
            });


        });


        //Report Load Function

        $("#bsearch_btn").on('click', function (e) {
            //debugger;
            $('#div_table').html('');
            var fromdate = $("#stdate").val();
            var todate = $("#endate").val();


            //var type = $('#ddlType option:selected').val();
            //if ($('#ddlType option:selected').length > 0) {
            //    for (var i = 1; i < $('#ddlType option:selected').length; i++)
            //        type = type + "," + $('#ddlType option:selected')[i].value;
            //};

            var Materialtype = $('#ddlMtType option:selected').val();
            if ($('#ddlMtType option:selected').length > 0) {
                for (var i = 1; i < $('#ddlMtType option:selected').length; i++)
                    Materialtype = Materialtype + "," + $('#ddlMtType option:selected')[i].value;
            };

            if ((fromdate != '' && todate != '')) {

                var html = "";
                $.ajax({
                    contentType: 'application/json; charset=utf-8', type: 'GET',
                    url: '@Url.Action("GetTruckReport", "TruckReport")',
                    data: { FromDate: fromdate, ToDate: todate, Mattype: Materialtype },
                    async: true, cache: false,
                    success: function (result) {
                        var items_0 = JSON.parse(result.jsonTBL00);
                        if (items_0.length > 0) {
                            $("#headerPD").css("display", "block");
                            console.log(items_0);
                            var htmlTable = "";
                            htmlTable += "<table class='table table-responsive table-striped cell-border compact' id='tblBreakTable'>";
                            htmlTable += "<thead>";
                            htmlTable += "<tr>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>GTRACK NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRUCK NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>RFID</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>1ST WEIGHT</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>2ND WEIGHT</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>NETWEIGHT</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRUCK STATUS</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>MATERIAL TYPE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRUCK TYPE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>SUPPLIER</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRANSPORTER</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>MATERIAL CODE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>1ST WEIGHT DATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>2ND WEIGHT DATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRUCKIN DATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRUCKOUT DATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>DESPATCH DATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>LOTNO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>SAND TYPE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>CHELLAN NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TRANSIT NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>FROM PLANT</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>TO PLANT</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>GRN NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>USERID</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>USERNAME</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>ROYALTY</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>INVOICE NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>EWAYBILL NO</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>DESTINATION STATE</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>DESTINATION</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>NO OF PACKAGED</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>PO NUMBER</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>REMARKS</th>";
                            htmlTable += "<th class='text-nowrap'style='font-size:17px;'>SUNDRY MATTYPE</th>";
                            htmlTable += "</tr>";
                            htmlTable += "</thead>";
                            htmlTable += "<tbody></tbody>";
                            htmlTable += "</table>";
                            $('#div_table').html(htmlTable);
                            $("#bexcel_btn").prop('disabled', true);

                            $.each(items_0, function (i, item) {
                                $("#bexcel_btn").prop('disabled', false);
                                html += "<tr>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.GtrackNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.TruckNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.RFID + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.Firstweight + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.Secondweight + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.Netweight + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Truckstatus + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Materialtype + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Trucktype + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Supplier + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Transporter + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.MaterialCode + "</td>";
                                html += "<td class='text-nowrap' style='text-align: center;font-size:17px;color: White'>" + item.FirstWeightDate + "</td>";
                                html += "<td class='text-nowrap' style='text-align: center;font-size:17px;color: White'>" + item.SecondWeightDate + "</td>";
                                html += "<td class='text-nowrap' style='text-align: center;font-size:17px;color: White'>" + item.TruckinDate + "</td>";
                                html += "<td class='text-nowrap' style='text-align: center;font-size:17px;color: White'>" + item.TruckoutDate + "</td>";
                                html += "<td class='text-nowrap' style='text-align: center;font-size:17px;color: White'>" + item.DespatchDate + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.LotNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Sandtype + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.ChellanNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.TransitNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.FromPlant + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.ToPlant + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.GrnNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.UserId + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.UserName + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.Royalty + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.InvoiceNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.EwayBillNo + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.DestinationState + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Destination + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.NoofPackages + "</td>";
                                html += "<td class='text-nowrap' style='text-align: right;font-size:17px;color: White'>" + item.PONumber + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.Remarks + "</td>";
                                html += "<td class='text-nowrap' style='text-align: left;font-size:17px;color: White'>" + item.SunMattype + "</td>";
                                html += "</tr>";
                            });
                            //$("#stdate").datepicker('setDate', null);
                            //$("#endate").datepicker('setDate', null);
                            //$('#ddlType').val(null).trigger('change');
                            //$('#ddlMtType').val(null).trigger('change');
                            $('#tblBreakTable tbody').html(html);

                            $('#tblBreakTable').DataTable({
                                pageLength: 19,
                                lengthChange: false,
                                searching: false,
                                responsive: true,
                                info: false,
                            });


                            $('#tblBreakTable').css("width", "")
                        }
                        else {
                            //$("#stdate").datepicker('setDate', null);
                            //$("#endate").datepicker('setDate', null);
                            //$('#ddlType').val(null).trigger('change');
                            //$('#ddlMtType').val(null).trigger('change');
                            //$('#div_table').html('');
                            err_msg('A1092');
                            return false;

                        }
                    },
                    failure: function () {
                        alert("Failed!");
                    }
                });

            }
            else {

                if (fromdate == '') {
                    //debugger;
                    err_msg('A1090');
                    return false;

                }
                else if (todate == '') {
                    err_msg('A1091');
                    return false;


                }
                //else if (typeof status == 'undefined') {
                //    err_msg('A1213');
                //    return;
                //}

            }
        });









        //Error Code Function
        @*function err_msg(code_) {
            debugger
            console.log(code_)
              $.ajax({

                contentType: 'application/json; charset=utf-8', type: 'POST',
                url: '@Url.Action("Error_Message1", "Error_MSG")',
                data: { code: code_ },
                dataType:"json",
                success: function (result) {
                    var err_return = result.split('---');
                    swal({
                        text: err_return[0],
                        title: err_return[1],
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK",
                        animation: "false"

                    });
                }
            });
        }*@


        function err_msg(code_) {
            $.ajax({
                contentType: 'application/json; charset=utf-8', type: 'GET',
                url: '@Url.Action("Error_Message", "TruckReport")',
                data: { code: code_ },
                async: true, cache: false,
                success: function (result) {
                    var err_return = result.split('---');
                    swal({
                        text: err_return[0],
                        title: err_return[1],
                        type: "warning",
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "OK",
                        animation: "false"

                    });
                }
            });
        }


        //Export to Excel

        $("#bexcel_btn").on('click', function (e) {
            var tablength = $("#tblBreakTable tbody tr");
            if ((tablength.length == 0) || (tablength.eq(0).text() == 'No data available')) {
                err_msg('A1092');
                return;
            }
            else {
                exportexcel();
            }

        });

        function exportexcel() {

            var htmlTable = "";
            htmlTable += "<table class='display' id='tblBreakTable'";
            htmlTable += "<thead>";
            htmlTable += "<tr>";
            htmlTable += "<th class='details-control'></th>";
            htmlTable += "<th class='text-nowrap'><b>GTRACK NO<b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRUCK NO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>RFID</b></th>";
            htmlTable += "<th class='text-nowrap'><b>1ST WEIGHT</b></th>";
            htmlTable += "<th class='text-nowrap'><b>2ND WEIGHT</b></th>";
            htmlTable += "<th class='text-nowrap'><b>NETWEIGHT</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRUCK STATUS</b></th>";
            htmlTable += "<th class='text-nowrap'><b>MATERIAL TYPE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRUCK TYPE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>SUPPLIER</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRANSPORTER</b></th>";
            htmlTable += "<th class='text-nowrap'><b>MATERIAL CODE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>1ST WEIGHT DATE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>2ND WEIGHT DATE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRUCKIN DATE<b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRUCKOUT DATE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>DESPATCH DATE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>LOTNO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>SAND TYPE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>CHELLAN NO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TRANSIT NO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>FROM PLANT</b></th>";
            htmlTable += "<th class='text-nowrap'><b>TO PLANT</b></th>";
            htmlTable += "<th class='text-nowrap'><b>GRN NO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>USERID</b></th>";
            htmlTable += "<th class='text-nowrap'><b>USERNAME</b></th>";
            htmlTable += "<th class='text-nowrap'><b>ROYALTY</b></th>";
            htmlTable += "<th class='text-nowrap'><b>INVOICE NO</b></th>";
            htmlTable += "<th class='text-nowrap'><b>EWAYBILL NO<b></th>";
            htmlTable += "<th class='text-nowrap'><b>DESTINATION STATE</b></th>";
            htmlTable += "<th class='text-nowrap'><b>DESTINATION</b></th>";
            htmlTable += "<th class='text-nowrap'><b>NO OF PACKAGED</b></th>";
            htmlTable += "<th class='text-nowrap'><b>PO NUMBER</b></th>";
            htmlTable += "<th class='text-nowrap'><b>REMARKS</b></th>";
            htmlTable += "<th class='text-nowrap'><b>SUNDRY MATTYPE</b></th>";
            htmlTable += "</tr>";
            htmlTable += "</thead>";
            htmlTable += "<tbody></tbody>";
            htmlTable += "</table>";

            var table = $('#tblBreakTable').DataTable();
            $(htmlTable).append(table.$('tr').clone()).table2excel({
                exclude: ".details-control",
                format: "Text",
                name: "TruckReports",
                filename: "TruckReports.xls"
                //fileext: ".xls"
            });
        }


    </script>
}