﻿@using System.Data
<style>
    .navbar-static {
        left: 300px; /* just an estimate of your sidebar's width */
        width: calc(100% - 200px);
    }
</style>
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header" style="padding:0">
                <div class="dropdown profile-element" style="text-align:center">
                    <span>
                        <img src="~/Images/orion_images/logo_master1.png" alt="image" style=" margin:auto; padding: 15px 0" />
                    </span>
                </div>
                <div class="logo-element">
                    <img src="~/Images/orion_images/Orion.ico" />
                </div>
            </li>
            <li><a href="@Url.Action("UserStatus", "UserStatus")"><i class="fa fa-bar-chart"></i><span class="nav-label" data-i18n="nav.menulevels">Home </span></a></li>
            <li><a href="@Url.Action("TransactionUser", "TranasctionUser")"><i class="fa fa-th-large"></i><span class="nav-label" data-i18n="nav.menulevels">Master </span></a></li>
            <li><a href="@Url.Action("TransactionUserDetails", "TransactionUserDetails")"><i class="fa fa-user"></i><span class="nav-label" data-i18n="nav.menulevels">Transaction User Details </span></a></li>
            <li><a href="@Url.Action("SOD", "SOD")"><i class="fa fa-address-book"></i><span class="nav-label" data-i18n="nav.menulevels">SOD </span></a></li>
            <li><a href="@Url.Action("CriticalTransaction", "CriticalTransaction")"><i class="fa fa-key"></i><span class="nav-label" data-i18n="nav.menulevels">Critical Transaction </span></a></li>
            <li><a href="@Url.Action("UserProfileAssignment", "UserProfileAssignment")"><i class="fa fa-paste"></i><span class="nav-label" data-i18n="nav.menulevels">User Profile Assignment </span></a></li>
            <li><a href="@Url.Action("UserRequest", "UserRequest")"><i class="fa fa-envelope"></i><span class="nav-label" data-i18n="nav.menulevels">User Request </span></a></li>
            <li><a href="@Url.Action("CheckStatus", "CheckStatus")"><i class="fa fa-reply"></i><span class="nav-label" data-i18n="nav.menulevels">Check Status</span></a></li>
            <li><a href="@Url.Action("LOG_OUT_BTN", "Login")"><i class="fa fa-sign-out"></i><span class="nav-label" data-i18n="nav.menulevels">Logout </span></a></li>
        </ul>
    </div>
</nav>
